WCFWinpackService/WcfClient/WcfClient/Service References/UserServiceReference/User2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO.DataCollect" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO.DataCollect" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDTO" nillable="true" type="tns:UserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDTO" nillable="true" type="tns:ArrayOfUserDTO" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BasTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LogDTO" nillable="true" type="tns:ArrayOfLogDTO" />
      <xs:element minOccurs="0" name="MainAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="eposta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userPermissionDTO" nillable="true" type="tns:ArrayOfUserPermissionDTO" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="ArrayOfLogDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogDTO" nillable="true" type="tns:LogDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogDTO" nillable="true" type="tns:ArrayOfLogDTO" />
  <xs:complexType name="LogDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Durum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Tarih" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserDTO" nillable="true" type="tns:UserDTO" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogDTO" nillable="true" type="tns:LogDTO" />
  <xs:complexType name="ArrayOfUserPermissionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserPermissionDTO" nillable="true" type="tns:UserPermissionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserPermissionDTO" nillable="true" type="tns:ArrayOfUserPermissionDTO" />
  <xs:complexType name="UserPermissionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="Asansör" type="xs:boolean" />
      <xs:element minOccurs="0" name="Ayarlar" type="xs:boolean" />
      <xs:element minOccurs="0" name="Aydınlatma" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Raporlama" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserDTO" nillable="true" type="tns:UserDTO" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserPermissionDTO" nillable="true" type="tns:UserPermissionDTO" />
</xs:schema>