WCFWinpackService/WcfClient/WcfClient/Service References/UserServiceReference/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IUserService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9001/User?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9001/User?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9001/User?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO.DataCollect" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_Listele_InputMessage">
    <wsdl:part name="parameters" element="tns:Listele" />
  </wsdl:message>
  <wsdl:message name="IUserService_Listele_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListeleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Ekle_InputMessage">
    <wsdl:part name="parameters" element="tns:Ekle" />
  </wsdl:message>
  <wsdl:message name="IUserService_Ekle_OutputMessage">
    <wsdl:part name="parameters" element="tns:EkleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Güncelle_InputMessage">
    <wsdl:part name="parameters" element="tns:Güncelle" />
  </wsdl:message>
  <wsdl:message name="IUserService_Güncelle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GüncelleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Sil_InputMessage">
    <wsdl:part name="parameters" element="tns:Sil" />
  </wsdl:message>
  <wsdl:message name="IUserService_Sil_OutputMessage">
    <wsdl:part name="parameters" element="tns:SilResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="Listele">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseOf_UserDTO/Listele" message="tns:IUserService_Listele_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseOf_UserDTO/ListeleResponse" message="tns:IUserService_Listele_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ekle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseOf_UserDTO/Ekle" message="tns:IUserService_Ekle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseOf_UserDTO/EkleResponse" message="tns:IUserService_Ekle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Güncelle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseOf_UserDTO/Güncelle" message="tns:IUserService_Güncelle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseOf_UserDTO/GüncelleResponse" message="tns:IUserService_Güncelle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sil">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseOf_UserDTO/Sil" message="tns:IUserService_Sil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseOf_UserDTO/SilResponse" message="tns:IUserService_Sil_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IUserService" type="tns:IUserService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IUserService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="Listele">
      <soap12:operation soapAction="http://tempuri.org/IServiceBaseOf_UserDTO/Listele" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ekle">
      <soap12:operation soapAction="http://tempuri.org/IServiceBaseOf_UserDTO/Ekle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Güncelle">
      <soap12:operation soapAction="http://tempuri.org/IServiceBaseOf_UserDTO/Güncelle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sil">
      <soap12:operation soapAction="http://tempuri.org/IServiceBaseOf_UserDTO/Sil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listele">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseOf_UserDTO/Listele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ekle">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseOf_UserDTO/Ekle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Güncelle">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseOf_UserDTO/Güncelle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sil">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseOf_UserDTO/Sil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="NetNamedPipeBinding_IUserService" binding="tns:NetNamedPipeBinding_IUserService">
      <soap12:address location="net.pipe://localhost/User" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/User</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>PROGRAMMER\Programmer</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:9001/User" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>